.conteneur-intervention {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background: #F5F7FA;

  .formulaire-intervention {
    background: #FFFFFF;
    border-radius: 10px;

    .intervention-section {
      background: #000B3A;
      color: white;
      padding: 12px;
      margin-bottom: 12px;

      &.patient {
        border-radius : 10px 10px 0 0 ;
      }
    }

    .conteneur-champs {
      width: 50%;
      margin: 12px;
    }

    .conteneur-boutons {
      width: 50vw;
      display: flex;
      justify-content: end;
      padding: 24px;
    }

  }

}